<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- iOS -->
        <meta name="apple-mobile-web-app-title" content="{{ SITE_NAME }}">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-status-bar-style" content="#F8F9FA">
        <!-- Android -->
        <link rel="shortcut icon" href="/static/apple-touch-icon.png">
        <meta name="theme-color" content="#F8F9FA">
        {% block include_meta %}{% endblock %}

        <!-- Bootstrap CSS -->
        <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
        {% block include_css %}{% endblock %}

        <title>
            {% if title %}{{ title }} - {% endif %}{% if subtitle %}{{ subtitle }} - {% endif %}{{ SITE_NAME }}
        </title>
        {% if GA_CODE %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_CODE }}"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ GA_CODE }}');
        </script>
        {% endif %}
        {% if not DISABLE_AD %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-6941340661228088",
                enable_page_level_ads: true
            });
        </script>
        {% endif %}
    </head>
    <body>
        <div class="container">
            <header class="mb-2">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/">{{ SITE_NAME }}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <form class="form-inline mr-auto" action="/search" method="POST">
                            <input class="form-control mr-sm-2" type="search" placeholder="搜索" name="search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                        </form>

                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">首页</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/jiajunhuang/blog">Github</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/sharing">分享</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/notes">随想</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/projects">作品</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/friends">友链</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/aboutme">关于</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            <main role="main" class="container">
                <div id="body" class="row">
                    <div class="col-md-9">
                        {% block content %}{% endblock %}
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </main>

            <footer class="footer mt-2 mb-2">
                <span class="text-muted">
                    <p><a href="https://github.com/jiajunhuang">@jiajunhuang</a> 2015-2019, All Rights Reserved. Thanks for Cloudflare to provide CDN service.</a></p>
                </span>
            </footer>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        {% block include_js %}{% endblock %}
    </body>
</html>
