{% extends "base.html" %}

{% block include_meta %}
<meta name="keywords" content="kindle,notes,export,highlights,online">
<meta name="description" content="Jiajun's Toolset, an online service that help you to export your kindle notes/highlights to markdown/json/plaintext">
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
      {% if items %}
      {% for i in items %}
      <p>{{ i.rstrip() }}</p>
      {% endfor %}
      {% else %}
      <p>Have not received your email yet(or it's too old for your email, server will delete it in 10 minutes after received), try to send it to kindle@email.jiajunhuang.com again?</p>
      {% endif %}
  </div>
</div>
{% endblock %}
